/* Estilos para o container de cada item */
.containerItem {
  display: flex; /* Aplica flexbox para o container */
  flex-direction: column; /* Itens dispostos em coluna */
  margin: 1rem 0; /* Margem de 1rem na parte superior e inferior */

  strong {
    color: var(--dark-700); /* Define a cor do texto strong */
  }
}


/* Estilos para a descrição */
.description {
  margin-top: 0.5rem; /* Margem superior de 0.5rem */
  word-break: break-all; /* Quebra de palavras quando necessário */
}

/* Estilos para os botões */
.buttonOrder {
  margin-top: 1.5rem; /* Margem superior de 1.5rem */
  background-color: var(--red-900); /* Cor de fundo vermelho */
  border: 0; /* Sem borda */
  padding: 0.5rem 1rem; /* Preenchimento interno de 0.5rem vertical e 1rem horizontal */
  border-radius: 0.2rem; /* Borda arredondada de 0.2rem */
  color: rgb(255, 255, 255); /* Cor do texto branco */
}

.buttonOrderSalvar {
  margin-top: 1.5rem; /* Margem superior de 1.5rem */
  background-color: var(--red-900); /* Cor de fundo vermelho */
  border: 0; /* Sem borda */
  padding: 0.5rem 1rem; /* Preenchimento interno de 0.5rem vertical e 1rem horizontal */
  border-radius: 0.2rem; /* Borda arredondada de 0.2rem */
  color: rgb(255, 255, 255); /* Cor do texto branco */
}

.buttonOrderEditar {
  margin-top: 1.5rem; /* Margem superior de 1.5rem */
  margin-right: 1rem; /* Margem direita de 1rem */
  background-color: var(--yello-600); /* Cor de fundo amarelo */
  border: 0; /* Sem borda */
  padding: 0.5rem 1rem; /* Preenchimento interno de 0.5rem vertical e 1rem horizontal */
  border-radius: 0.2rem; /* Borda arredondada de 0.2rem */
  color: rgb(255, 255, 255); /* Cor do texto branco */
}

.buttonOrderDelete {
  margin-top: 1.5rem; /* Margem superior de 1.5rem */
  margin-right: 1rem; /* Margem direita de 1rem */
  background-color: var(--blue-300); /* Cor de fundo azul */
  border: 0; /* Sem borda */
  padding: 0.5rem 1rem; /* Preenchimento interno de 0.5rem vertical e 1rem horizontal */
  border-radius: 0.2rem; /* Borda arredondada de 0.2rem */
  color: rgb(255, 255, 255); /* Cor do texto branco */
}

/* Estilos responsivos */
@media screen and (max-width: 700px) {
  .container {
    width: 430px; /* Largura do container em telas pequenas */
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 330px; /* Largura do container em telas ainda menores */
  }
}


@media screen and (max-width: 550px) {
  .container {
    width: 330px; /* Largura do container em telas ainda menores */
  }
}

/* Estilos para a seção de cadastro */
.cadastro {
  margin-top: 0rem; /* Margem superior de 0rem */
  width: 1500px; /* Largura do elemento de 1500px */
  display: flex; /* Aplica flexbox para o elemento */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: center; /* Alinha os itens horizontalmente ao centro */
  flex-direction: column; /* Itens dispostos em coluna */
  padding: 0.1rem 0.2rem; /* Preenchimento interno de 0.1rem no topo e 0.2rem na base */

  h1 {
    padding: 1rem; /* Preenchimento interno de 1rem em todos os lados do h1 */
  }

  form {
    width: 90%; /* Largura do formulário de 90% */
    display: flex; /* Aplica flexbox para o formulário */
    flex-direction: column; /* Itens dispostos em coluna */
  }

  form button {
    height: 40px; /* Altura de 40px para os botões dentro do formulário */
    font-size: 1.2rem; /* Tamanho de fonte de 1.2rem */
  }

  select {
    width: 120px; /* Largura de 120px para elementos select */
    height: 40px; /* Altura de 40px para elementos select */
    border-radius: 0.3rem; /* Borda arredondada de 0.3rem */
    margin-bottom: 1rem; /* Margem inferior de 1rem */
    color: var(--black); /* Cor do texto */
    background-color: var(--white); /* Cor de fundo branca */
    border: 1px solid var(--gray-100); /* Borda de 1px sólida com cor específica */
    padding: 0 0.5rem; /* Preenchimento interno de 0.5rem nos lados */
  }
}

.text {
  margin-top: 1rem; /* Margem superior de 1rem */
  color: var(--black); /* Cor do texto */
  cursor: pointer; /* Cursor do mouse transformado em mão */
}

@media (max-width: 620px) {
  .login {
    width: 90%; /* Largura do elemento .login de 90% */
  }
}
/* Estilos para o componente Datepicker */
.date {
  margin-bottom: 1rem; /* Margem inferior de 1rem */
  height: 40px; /* Altura de 40px */
  border: 0; /* Sem borda */
  border-radius: 0.5rem; /* Borda arredondada de 0.5rem */
  background-color: var(--white); /* Cor de fundo branca */
  color: var(--black); /* Cor do texto */
  padding: 1rem; /* Preenchimento interno de 1rem em todos os lados */
  border: 1px solid var(--gray-100); /* Borda de 1px só*/

  &.dateClicked {
    width: 115px;
  }
}

.date::placeholder {
  color: rgba(23, 22, 22, 0.8); /* Cor do texto de placeholder */
}
